<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RESUME</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>

    <div class="navbar">
        <div class="container flex">
            <a href="https://internship.zuri.team/">
                <img src="../public/img/img.jfif" 
                    alt="" 
                    style="width: 70px; height: 70px;">
            </a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <h2>EDUSI SIMON</h2>
            <P><b>Email</b> : Simon25Edusi@gmail.com</P>
            <P><b>Phone no</b> : +2348172590700</P>
            <P><b>Location</b> : Lagos</P>
        </div>

        <div class="container">
            <h3>EDUCATION AND QUALIFICATION</h3>
            <p><b>National Open University of Nigeria</b> Jan 2021 till date</p>
            <p><b>Jobberman Soft-Skill Training</b> (2021)</p>
            <p><b>ND Computer Science</b> (2019)</p>
            <p><b>CISCO Certificate</b> (2019)</p>
            <p><b>SoloLearn CSS Fundamentals Certificate</b> (2019)</p>
            <p><b>SoloLearn CSS Fundamentals Certificate</b> (2018)</p>
        </div>

        <div class="container">
            <h3>WORK EXPERIENCE</h3>
            <P><B>Industrial Training - 2017</B></P>
            <P><B>Lagos State University, Lagos State</B></P>
            <P><B>Responsibilities</B></P>
            <ul>
                <li>Helped in IT support including installation of wireless routers around the school campus</li>
                <li>Reported back to instructors to receive day-to-day task and responsibilities.Interacted with 
                    students professionally in-person to capture their bio-data for school elections
                </li>
                <li>Communicated effectively with fellow interns and staff and accepted critiques and suggestions 
                    for areas of improvement
                </li>
            </ul>
        </div>

        <div class="container">
            <h3>PROFESSIONAL SKILLS</h3>
            <ul>
                <li>Good Communication</li>
                <li>Dedication and Organization</li>
                <li>Googling</li>
                <li>Critical Thinking</li>
            </ul>
        </div>

        <div class="container">
            <h3>PROGRAMMING LANGUAGE</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Node js</li>
                <li>React js</li>
            </ul>
        </div>
    </div>

    <div class="container">

        <div class="contact">
            <h3>Email Me</h3>
            <form method="POST" action="send">
            <p>
                <label>Name</label>
                <input type="text" name="name" required>
            </p>
            <p>
                <label>Email Address</label>
                <input type="email" name="email">
            </p>
            <p>
                <label>Phone Number</label>
                <input type="text" name="phone">
            </p>
            <p class="full">
                <label>Message</label>
                <textarea name="message" rows="5"></textarea>
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
            </form>
        </div>
        </div>
    </div>


</body>
</html>